.produto{

  border: #000000 1.5px solid;
  margin-bottom: 2px;

  h1{
   font-family: Arial;
   font-weight: bold;
   font-size: 18pt;
  }

  p{
    font-family: Arial;
    font-size: 13pt;
  }

  span{
    font-family: Arial;
    font-size: 11pt;
  }

}
